<h1>To Do List</h1>
<ul>
  @foreach (var task in Model)
  {
    <li><a href='/delete/@Model["category"].GetId()/tasks/@Model["tasks"].GetId()'>@task.GetDescription()</a></li>
  }
</ul>
<a href="/tasks/new">Add a new task</a>
